Source: caprice-reloaded
Section: emu
Priority: optional
Maintainer: Simon Adda-Reyss <simon.addareyss@libertysurf.fr>
Build-Depends: cdbs (>= 0.4.23-1.1), debhelper (>= 5),
 libwxgtk2.8-dev | libwxx11-2.8-dev | libwxmotif2.8-dev | libwxgtk1-2.8-dev,
 libstsound-cpc-dev,
 libportaudio-dev (>= 19),
 aylet,
 libayemu-dev,
 lib765-dev,
 libsdl1.2-dev,
 automake | automaken,
 autoconf
Standards-Version: 3.5.2

Package: caprice-reloaded
Architecture: any
Depends: ${shlibs:Depends}
Description: Emulateur Amstrad CPC Caprice Reloaded
 Caprice Reloaded is a fork of Caprice 32, rewritten in C++ and modified to work
 under linux in a more friendly way.
